$color-primary: green;
$color-primary-light: rgb(152, 219, 152);
$color-primary-dark: rgb(41, 62, 41);

$color-secondary: white;
$color-secondary-transparent: rgba(255, 255, 255, 0.675);

$color-black: black;

$bp-largest: 69.375em; //1110px
$bp-large: 62.5em; //765px
$bp-medium: 45em; //720px
$bp-small: 30em; //480px
